/* timeline use display:grid*/
.timeline__time-container{
    display: grid;
    grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: ". top-axis ." "left-axis schedule right-axis" ". bottom-axis .";
    grid-gap: 0 2px;
    
    border-top-style: solid;
    border-width: thin;
}

.timeline__group-axis{
    grid-area: left-axis;
    min-height: 1px;
}

.timeline__slide-container{
    overflow: hidden;
}

.timeline__schedule-container{
    grid-area: schedule;
}

.timeline__schedule-slide{
    -webkit-transform-origin: "0 0 0";
        -ms-transform-origin: "0 0 0";
            transform-origin: "0 0 0";
}

.timeline__list--none-style{
    list-style-type: none;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
}

.timeline__group-header-wrapper{
    border-bottom-style: solid;
    border-width: thin;
}

.timeline__group-header{
    min-width: 50px;
    height: 100%;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.timeline__groups{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.timeline__group-wrapper{
    border-bottom-style: solid;
    border-width: thin;
}

.timeline__group-content{ /* customizable */
    padding-top: 4px;
}

.timeline__items{
}

.timeline__item-wrapper{
    position: absolute;
}

.timeline__item-content{ /* customizable */
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: lightgreen;
}

.timeline__time-axis{
    grid-area: bottom-axis;
    position: relative;
    height: 70px; /*set in code?*/
    z-index: 0; /*create stacking context*/
}

.timeline__time-axis-slide{
    padding-top: 3px;
}

.timeline__time-axis-svg{
    display: block;
    overflow: visible;
    width: 100%;
    height: 32px;
}

.timeline__time-axis-labels{
}

.timeline__time-axis-label-dot{
    position: absolute;
    border-style: solid;
    border-width: 4px;
    border-radius: 4px;
    border-color: darkblue;
    top: 3px;
}

.timeline__time-axis-label-time-connection{
    position: absolute;
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: darkblue;
    top: 3px;
    height: 32px;
    z-index: 0;
}

.timeline__time-axis-label-day-connection{
    position: absolute;
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: darkblue;
    top: 3px;
    height: 55px;
    z-index: 0;
}

.timeline__time-axis-time-label{
    position: absolute;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: darkblue;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    top: 24px;
    background: white;
    z-index: 1;
}

.timeline__time-axis-day-label{
    position: absolute;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: aqua;
    background: aliceblue;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    top: 47px;
    z-index: 1;
    overflow: hidden;
}

.timeline__time-axis-line{
    stroke:black;
    stroke-width:1
}

.timeline__major-tick-mark{
    stroke:black;
    stroke-width:1
}

.timeline__minor-tick-mark{
    stroke:black;
    stroke-width:1
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/*# sourceMappingURL=demo.e9aa4775.css.map*/